body {
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #3b3b3b 0%, #2b2b2b 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #3b3b3b 0%, #2b2b2b 100%);
  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #3b3b3b 0%, #2b2b2b 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #3b3b3b), color-stop(1, #2b2b2b));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #3b3b3b 0%, #2b2b2b 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(ellipse farthest-corner at center, #3b3b3b 0%, #2b2b2b 100%);
}
#content {
  height: 480px;
  width: 100%;
}
